[2016-11-23 14:55] dtaylor113 opened #14 "CollapseAll and ExpandNode doesn't seem to work"
Hi,
I created the plnkr below which uses the straight 'jonmiles/bootstrap-treeview':
https://plnkr.co/edit/6llHzoQhUxQ5AnzEZxVP?p=preview
The following code works fine without exception (see script.js file):
[code]

However, when I run the same code using patternfly-bootstrap-treeview.  collapseAll doesn't seem to do anything, and expandNode returns:
`Uncaught TypeError: Cannot read property 'expa

[2016-11-23 15:54] dtaylor113 opened #15 "Is README.md file correct?"
Hi,
I see in the README:

Shouldn't this be:

$ npm install **patternfly-** bootstrap-treeview
$ bower install **patternfly-** bootstrap-treeview

...and the 'download' link be updated to point to 'patternfly-bootstrap-treeview'.

Thanks,
- Dave

[2016-11-24 15:33] himdel opened #16 "$(selector).treeview(true) returns a jquery object when tree not found"
Call `$('#nonexistent_tree').treeview(true)`.

You'll get the same object as from `$('#nonexistent_tree')`.

Should probably return null or throw an exception instead..

[2016-11-28 20:30] dtaylor113 commented on #14
Thanks @bleathem for working with me on resolving this.  Turns out collapseAll was working, but I didn't include the pf-bootstrap-treeview.css file (duh!).  ExpandNode in patternfly-bootstrap-treeview doesn't accept nodeIds, whereas I was looking at the upstream version which now does.  When I switched to passing in an array of node refs, expandNode started to work.

[2016-11-28 20:30] #14 closed

[2016-11-29 14:30] DerPeiler1986 opened #17 "hideCheckbox not working"
Hi all,

i using the treeview with checkboxes but wan't to hide the checkbox for the parent and firs chil node. I added hideCheckbox = true but there isn't any effect.

Please find a snipped below.

`<script type="text/javascript">
  		$(function() {

        var defaultData = [
          {
	    hideCheckbox: true,
            text: 'Main Categorie',
            nodes: [
              {
		hideChec

[2016-12-06 20:56] cocowalla opened #18 "Determine nodeUnselected originator/sender"
`nodeUnselected` is called when a node is unselected, but is also called when a node is unselected *because* another node was selected.

I'm using the tree in a sort of master-detail setup, where selecting a tree node loads some detail data using ajax.

So when a node is selected, I want to load data. But when a node is *unselected* I want to remove previously loaded data - but only if a node was

[2016-12-12 09:51] skateman commented on #17
@DerPeiler1986 you probably missed the `checkable` global attribute. Please verify if that works and I'll update the documentation.

[2016-12-12 09:55] skateman commented on #18
@cocowalla maybe it's a bad idea but after the first read I would try write an event listener that can catch multiple events. This listener might be able to determine which type of unselect was fired. But I will take a deeper look into this problem later...

[2016-12-16 12:06] DerPeiler1986 commented on #17
please help me in detail, where i need to set the global attribute?

[2016-12-16 12:21] skateman commented on #17
Hm, now I checked and you don't need the `checkable` attribute. Also your example seems to work for me. Are you for sure using `patternfly-bootstrap-treeview`? We are a fork as the development of the original `bootstrap-treeview` is stalled. All the changes introduced here are available as [PRs in the upstream repo](https://github.com/jonmiles/bootstrap-treeview/pulls/skateman) and hopefully they

[2016-12-16 13:27] #15 closed

[2017-01-10 14:50] himdel opened #21 "Double "icon" in leaf nodes with fonticons"
Cc @skateman

Non-leaf nodes with fonticons look like:

[code]

but for leaf nodes, there's an extra `span` with `icon glyphicon` which .. doesn't seem to make sense:

[code]

[2017-01-14 14:25] #16 closed

[2017-01-23 07:32] 3xxx opened #22 "addnode need mousehover event"
wonderful job，thank you.
I use add/remov/update method。
Can you provide this function, when the mouse moves to the node, add、remove and update custom image display.
like
![image](https://cloud.githubusercontent.com/assets/10678867/22195141/704b2060-e181-11e6-8f8a-f231866a46d5.png)

[http://img.blog.csdn.net/20160109120114742](url)
[http://img.blog.csdn.net/20160109121325104](url)
[http://blog.csdn

[2017-01-26 07:41] 3xxx opened #23 "I have a "updateNode" bug"
Hi, when I use this method:$('#tree').treeview('updateNode', [ node, newNode, { silent: true } ]);
after update,the node‘s sons disappeared。Have you met before？

[2017-01-26 12:45] Climberdav opened #24 "tree don't collapse"
Hie,

I try using your bundle but I can't collapse the tree, even if I put levels:1 in the tree definition. No error fired. The tree is shown but all expanded.
The same configuration works fine with jonmiles/bootstrap-treeview.

If I put some logic like nodeSlected it works.

I have jquery 2.2.6 from cdnjs and bootstrap from 3.3.6 from maxcdn.

Here is my tree definition :
`$('#tree').treeview({

[2017-01-26 12:56] Climberdav opened #25 "Can't remove node"
Hello,

If I try to remove a node with this `$('#tree').treeview('removeNode', [ '0.0.3.3' ]);` it fire this error :
`bootstrap-treeview.min.js:1 Uncaught TypeError: Cannot read property 'remove' of undefined
    at g._removeNodeEl (http://localhost/cours2/web/assets/vendor/patternfly-bootstrap-treeview/dist/bootstrap-treeview.min.js:1:16323)
    at g.<anonymous> (http://localhost/cours2/web/asset

[2017-01-31 01:02] 3xxx commented on #25
my practice here:
http://blog.csdn.net/hotqin888/article/details/54798737

[2017-01-31 01:06] 3xxx commented on #24
i guess you must use patternfly‘s bootstrap-treeview.css
patternfly-bootstrap-treeview.css v2.1.0

[2017-02-15 20:07] nicdnepr opened #26 "Select node by it id"
How can I select node by its id without searching by node name? Also I want to autoexplode all parent nodes

[2017-02-24 07:16] guoguolq opened #27 "Uncaught TypeError: Cannot set property 'level' of undefined"
![image](https://cloud.githubusercontent.com/assets/24727278/23293989/39ecf3c2-faa4-11e6-8222-3ee60a8274c0.png)

[2017-02-24 09:01] guoguolq commented on #25
Uncaught TypeError: node.remove is not a function

[2017-03-01 22:03] Rebelhig opened #28 "Find node by ID"
Hello,

how can i find a node by id? Is this possible?

Reiner

[2017-03-21 16:07] bighiu commented on #28
var node = $('#tree').treeview('findNodes', ['^' + nodeId + '$', 'id'])[0];

[2017-03-24 16:37] DracoPL opened #29 "TypeError: node.state is undefined"
Hi,

i'm trying to move from jonmiles/bootstrap-treeview to your fork but when i try to select node (by clicking it)  i get error:

Line 1539
[code]

I even tried initializing with data from docs and it's the same.

When i load jonmiles/bootstrap-treeview file, it works fine. No error.

[2017-03-25 21:28] DracoPL commented on #28
@bighiu is correct if you want to search by node property 'id'.

In my case it also works without [0] at the end.

[2017-03-27 05:46] merciqiao opened #30 "更新BUG"
更新节点的时候,子节点就消失了

[2017-03-27 05:47] merciqiao commented on #23
我也遇到这个问题了,你解决了没

[2017-04-05 19:35] jdkschang opened #31 "Autocomplete Search"
Has anyone successfully implemented an autocomplete search?

Apologies if this isn't the place to post questions.

[2017-04-06 01:50] newdebug commented on #22
@3xxx 这个很容易做啊，我新手折腾了一晚上搞定了~
add add/edit/remove event buttons:
**first**:
[code]
**second**:
[code]
**third**(option):
Add onAddButtonClicked/onEidtButtonClicked/onRemoveButtonClicked evnets to _default.settings{} and other place , just likes onNodeUnchecked,onNodeUnselected etc.
then,
$('#tree').treeview({
data:[],
onAddButtonClicked:function(event, node){...},
//...
});
**(end)**

[2017-04-09 13:41] 3xxx commented on #30
me too
when update node,the son node will disapeared.

[2017-04-09 13:53] 3xxx commented on #30
http://download.csdn.net/download/qq812858143/9801416

[2017-04-09 13:53] 3xxx commented on #23
http://download.csdn.net/download/qq812858143/9801416

[2017-04-09 13:53] #23 closed

[2017-04-18 12:07] kverfaille opened #32 "Object state gets out of sync"
*** CAN BE CLOSED *** => See comment below
Hi,

I have a tree that starts from many roots. When expanded to the leafs, each intermediate node has only one child. So when a root node is expanded, I wish to expand the entire path to the leaf.

Currently I achieve this by using the nodeExpanded event. Once the event arises, I expand the expanded node its children. See the code snippet and working exa

[2017-04-20 10:06] arshad104 opened #33 "Unable to redraw the tree view"
Hi,

I am using this treeview and I want to redraw treeview when node is selected and want to display the child nodes of the selected node. In a nutshell I want to stay on level-1 hierarchy.

Need help?

[2017-04-20 13:09] kverfaille commented on #32
Pretty new to javascript :)...
I didn't had a reference to the actual object, so after retrieve the node reference all was good.

$('#treeview1').on('nodeExpanded ', function(event, node) {
    if (node.nodes && node.nodes.length > 0) {
        var node2 = $('#treeview1').treeview('findNodes', ['^'+node.nodeId+'$', 'nodeId'])[0];
        $(this).treeview(true).expandNode(node2.nodes, {

[2017-04-20 13:09] #32 closed

[2017-04-24 14:56] skateman commented on #26
You need to iterate through the nodes returned by `getNodes()` and select it as you would [select from an array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find).

[2017-05-08 11:41] PeteDurst opened #37 "TreeView not working with showTags"
Hi,

if you set showTags to true the following exception occurs.
I made a [fiddle ](https://jsfiddle.net/wpp6062h/3/)

jQuery.Deferred exception: Cannot read property '0' of undefined TypeError: Cannot read property '0' of undefined
    at Tree.addTag (https://rawgit.com/patternfly/patternfly-bootstrap-treeview/master/dist/bootstrap-treeview.js:975:29)

Problem is in line 977 tagsClass is undefind

[2017-05-09 07:23] skateman commented on #37
You probably linked a wrong fiddle, could you please update it? Thanks!

[2017-05-09 09:19] PeteDurst commented on #37
Thank you. Issue updated.
[working fiddle](https://jsfiddle.net/wpp6062h/3/)

[2017-05-19 09:59] wang-ya-ning commented on #22
onAddButtonClicked:function(event, node){...}这里面该怎么写

[2017-06-12 09:10] marcodelpercio opened #41 "Vers. 2.1.2 completely breaks my tree, vers. 2.1.1 is ok"
Hello,

I had to debug the 'checkNode' method and since I was running vers. 2.1.1 I thoguht it might have been a good idea to update this library to the latest version. However as soon as I reloaded the page the tree was totally broken, only the first noce is coming up with a weird border and no children when trying to expand...same happens with vers. 2.1.2.
I looked at the dates and as soon as I

[2017-06-12 09:27] skateman commented on #41
Hi,

there is an issue with tagging and there is a [dispute](https://github.com/patternfly/patternfly-bootstrap-treeview/pull/39) about how to fix it. I will update this issue when it's sorted out and also push a new version.

[2017-06-12 10:01] marcodelpercio commented on #41
Thank you very much!

I was going mad and couldn't understand if I had broken anything myself :-) until I figured out that the same code with 2 versions was producing totally different results.

Cheers

[2017-06-20 18:28] JohnDoe2193 opened #44 "Is there a way to rename tree node without reloading the whole tree?"
Is there a way to rename tree node (change **text** attribute) without reloading the whole tree or removing/adding the node? API methods don't seem to have anything like updateNode or renameNode.

[2017-06-27 10:23] marcodelpercio opened #45 "Method checkNode doesn't restore partially-checked parents."
Hi,

I just found an issue when trying to programmatically check nodes via the **checkNode** method.
Apparently the method passes the checked status onto the node's children however it doesn't set the partially-checked status on its parents when not all the siblings are checked.
Take a look at the screenshot below. This is the result I'm getting with:
[code]
(hierarchicalCheck: true)
![usingcheckn

[2017-07-12 17:44] skateman commented on #41
2.1.4 was released

[2017-07-12 17:44] #41 closed

[2017-07-23 02:21] Javaldh commented on #22
@wang-ya-ning
看看这个，可以参考下http://blog.csdn.net/wangjingna/article/details/50487111

[2017-07-23 02:24] wang-ya-ning commented on #22
谢谢已经解决了

------------------ 原始邮件 ------------------
发件人: "Javaldh";<notifications@github.com>;
发送时间: 2017年7月23日(星期天) 上午10:21
收件人: "patternfly/patternfly-bootstrap-treeview"<patternfly-bootstrap-treeview@noreply.github.com>;
抄送: "王亚宁"<3148770641@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [patternfly/patternfly-bootstrap-treeview] addnode needmousehover event (#22)

@wang-ya-ning
 看看这个，

[2017-07-23 02:59] Javaldh commented on #22
@wang-ya-ning 代码勒#

[2017-07-30 11:09] zhizhi555555 opened #49 "how to load data after click the expand icon?"
if three have a tree data, how to asyn the data？such as it click expand icon ,and load the data from db.
is there have the solved method?

[2017-07-31 07:08] skateman commented on #49
Hi,

you will have to set a [lazyLoad](https://github.com/patternfly/patternfly-bootstrap-treeview#lazyload-1) function to load the data and set the [lazyLoad](https://github.com/patternfly/patternfly-bootstrap-treeview#lazyload) attribute of the desired nodes to `true`.

[code]

[2017-07-31 07:08] #49 closed

[2017-07-31 07:09] skateman commented on #37
Release pushed, should work

[2017-07-31 07:09] #37 closed

[2017-07-31 07:10] skateman commented on #33
Hi,

sorry for the late reply. I don't really understand the workflow here, can you be more precise?

Thanks

[2017-07-31 07:11] #28 closed

[2017-07-31 07:12] skateman commented on #29
@DracoPL could you please post a fiddle where the issue is reproducible? Thanks

[2017-07-31 07:12] skateman commented on #27
@guoguolq could you please post a fiddle where it's reproducible?

[2017-07-31 07:12] skateman commented on #30
Could you please post a fiddle where it's reproducible?

[2017-07-31 07:13] skateman commented on #26
Seems like duplicate of [this](https://github.com/patternfly/patternfly-bootstrap-treeview/issues/28), closing...

[2017-07-31 07:13] #26 closed

[2017-07-31 07:13] skateman commented on #25
@Climberdav could you please post a fiddle where it is reproducible?

[2017-07-31 07:15] skateman commented on #24
@Climberdav could you please post a working fiddle? And also verify if @3xxx's suggestion fixes the issue.

[2017-07-31 07:16] skateman commented on #22
Hi,

I think this feature is very specific and should be implemented outside using jQuery. The nodes are accessible by CSS selectors and so you can define your own `hover` event handlers.

[2017-07-31 07:16] #22 closed

[2017-07-31 07:17] #17 closed

[2017-07-31 07:17] #18 closed

[2017-07-31 07:17] skateman commented on #45
Hi, could you please verify with the latest version and if it's still happening please provide a fiddle. Thanks

[2017-07-31 07:18] wang-ya-ning commented on #22
using ztree can do whatever you want

[2017-07-31 07:47] cocowalla commented on #18
@skateman I see you closed this - were you able to take a look at the issue?

[2017-07-31 07:59] skateman commented on #18
@cocowalla umm, I auto-closed everything from 2016. If this still an issue, please reopen it...

[2017-08-01 12:55] zhizhi555555 commented on #49
ok.thanks for help

Sent from Mail Master
On 07/31/2017 15:08, Halász Dávid wrote:

Hi,

you will have to set a lazyLoad function to load the data and set the lazyLoad attribute of the desired nodes to true.

$(...).treeview({
  ...lazyLoad:function(node, display) {
    data =ajax(node); // write your own ajax request that returns the subtree of nodedisplay(data); // the display function is provid

[2017-08-04 14:24] slolo2000 opened #50 "Avoid onNodeSelected event if button or link is added to LI"
Hello,

It would be nice to prevent event propagation to onNodeSelectedEvent when a html content is add to node with onNodeRendered event.

Here is an example:
[code]

When I click on the link, to "click" event is also propagated to li node element.
I haven't found an option or parameter to avoid this.

So, I have had an idea. I have added a custom class named "prevent-click" and modify the source

[2017-08-05 16:42] merciqiao commented on #30
我更新了链接，下载这个http://download.csdn.net/detail/qq812858143/9833920

[2017-08-06 05:38] skateman commented on #50
@slolo2000 you can set the tree node not to be [`selectable`](https://github.com/patternfly/patternfly-bootstrap-treeview#selectable) or [`checkable`](https://github.com/patternfly/patternfly-bootstrap-treeview#checkable). If you want to have the selection/checking but not the handler to be fired, you can add a [`data`](https://github.com/patternfly/patternfly-bootstrap-treeview#dataattr) attribut

[2017-08-06 12:23] skateman commented on #30
I'm a bit scared of downloading any unknown file, can you post it here: https://jsfiddle.net/

[2017-08-17 08:56] zhuxinjun opened #51 "version number"
from version 2.1.0，the version number  not change in css file and js file

[2017-08-18 22:14] avga2000 opened #52 "hierarchicalCheck and propagateCheckEvent do not work through a method"
hierarchicalCheck and propagateCheckEvent work properly when you check some node manually, however it does not when you try to check the node through a method.

[2017-08-18 22:43] avga2000 commented on #52
I solved this by using  method toggleNodeChecked instead of checkNode

[2017-08-19 05:59] skateman commented on #52
Hi, could you please post a reproducer onto jsfiddle or codepen? Thanks

[2017-08-22 14:08] slolo2000 commented on #50
Hi skateman

Thanks for your answer and sorry for the delay.
You are probably right, but the real question is how to avoid raising onNodeSelected event when I click on the link I have added in onNodeRendered?

Can you write me a simple example if possible?

[2017-08-22 14:12] skateman commented on #50
@slolo2000 why do you need the `<a>` tag there? Isn't more convenient to go to an URL using the onNodeSelected handler?

[2017-08-22 14:17] slolo2000 commented on #50
I have added it because I want to have two different behavior (see screenshot).

When I click on the node, I want to display one web page and when I click on the RSS link, I want to open a new page which display the RSS content.

![image](https://user-images.githubusercontent.com/10075509/29569902-3214c9c0-8755-11e7-8566-f30e12c5f5d3.png)

[2017-08-22 14:38] skateman commented on #50
I am pretty sure that this whole link-thing can be avoided, see https://github.com/patternfly/patternfly-bootstrap-treeview/pull/43#issuecomment-309017255

[2017-08-23 08:47] slolo2000 commented on #50
The event's target in the onNodeSelected seems to be always set to the main div.
Or maybe I do not quite understand the thing I have to do.
But anyway, thanks a lot for your help.

[2017-09-02 22:41] abelduran1 opened #54 "Can´t collapse"
Hi, my name is Abel , I have implemented this library in my app but the plus and minus icons not appear, so is impossible to collapse the nodes.
Thanks in advance.

![image](https://user-images.githubusercontent.com/17276538/29999233-f0571f20-9040-11e7-8307-e2f5919fdc4f.png)

[2017-09-02 23:19] abelduran1 commented on #54
I have fix it. The problem was i had installed the bootstrap 4.0.0 and I now I have installed the 3.3.7 and all works. Maybe incompatibilities problems with the new version of bootstrap??

[2017-09-02 23:19] #54 closed

[2017-09-15 10:15] ernest33 opened #55 "Having different colors (back & fore) for levels ?"
Hello,
Could be really cool to be able to specify backColor (all colors related) as an array ['#fff', '#0f0'].
The first one for the first level, the second for the second and so on. And in the case you have only defined 3 colors all level upper 3 use the third color.

Regards
Philippe

[2017-09-15 13:30] skateman commented on #55
@ernest33 can't you do this entirely in the CSS?

[2017-09-15 14:39] ernest33 commented on #55
@skateman Yes this will be possible :-) But as a lazy man i found this could be a good addition ;-)

[2017-09-15 15:36] skateman commented on #55
Well, I would not want to add such a very specific feature if it can be solved much easier. The plan is to reduce the current amount of CSS generated by JS anyway. Sorry...

[2017-09-15 15:36] #55 closed

[2017-09-20 18:47] aamsoh opened #56 "method addNode"
Hi,

How I can use addNode method in treeview. any help will be highly appreciated.

Regards,

Aamir

![image](https://user-images.githubusercontent.com/32142891/30661824-2f2d47e2-9e56-11e7-8f0a-b2bdcd3a1d27.PNG)

[2017-09-20 19:05] skateman commented on #56
If this is not [self-describing](https://github.com/patternfly/patternfly-bootstrap-treeview#addnodenodes-parentnode-index-options) enough, here's an example:

[code]

[2017-09-20 19:05] #56 closed

[2017-11-07 12:25] ErnieAllen opened #57 "Programmatically expanding a node from onNodeSelected event isn't working"
Not sure what I'm doing wrong. I'm trying to programmatically expand a node when the node is clicked (selected). The tree visually expands, but when I get a list of all the expanded nodes, the list is empty.

Please see the jsfiddle https://jsfiddle.net/acapkxhn/3/  Steps:
- open a javascript console to see the log messages
- click on the Parent 1 node
The tree expands, but the list returned from

[2017-11-13 02:26] vzlatkin opened #58 "updateNode hides node from view"
I'm writing code to make the "tag" reflect the number of children that have been "checked".  The last method call of my function is to update the node of the treeView to get the tag to update, but after that call, the node (and its parent) disappears.  Here is my code:

[code]

[2017-11-17 22:57] rogertangcn opened #59 "Can it support context menu?"
I have used bootstrap treeview for quite a while, it was pretty good until recent. We have a requirement that needs a pop up menu when right clicking the node. Is it possible to support that? Thanks.

[2017-11-19 13:17] skateman commented on #59
Hi,

this is an interesting idea, but I would like to keep the codebase as simple as possible. You could try a library like [this one](https://swisnl.github.io/jQuery-contextMenu/demo.html), all the nodes are accessible using CSS selectors, so you can define menu items on them. Using the `.findNodes()` or `.getNodes()` you can even specify the context menu inside the tree.

I hope this helps.

[2017-11-19 13:17] #59 closed

[2017-11-19 13:20] skateman commented on #58
Hi,

I think you should do a deep copy of the `p` variable and edit that in the further steps. Then when you changed all the things, update the `p` with the copied+edited.

[2017-11-19 21:01] rogertangcn commented on #59
Thanks for prompt response.

Yeah, that's the idea I've explored. And, as the project of mine uses bootstrap, I chose [bootstrap-menu](https://github.com/dgoguerra/bootstrap-menu) instead. Here is how I ended up doing. Hope this help anyone seeking to do the same as mine.

[code]

[2017-11-23 22:14] rogertangcn opened #60 "Adding child node to the node returned from `onNodeSelected` fails"
I was trying to use the node returned from event hooks (e.g. `onNodeSelected(event, node)`) as parent and to add a child to that parent without success. Here is an emulating code of what i was doing.
[code]

The cause of that is the `node` returned from the hook is a deep copy. See below code
[code]
So, adding child to it is just adding to the copy which has no effect to the tree.

The issue can b

[2017-12-04 09:58] maxstralin opened #61 "Dynamically add new node after lazyLoad has been triggered"
Hi.

I have a function that allows for uploading in the tree, meaning that I need to add a new node when the file has been uploaded. I expected "addNode" to do this but after receiving the error "Uncaught TypeError: Cannot read property 'visible' of undefined", I get the feeling that the addNode functionality must take a node that has been passed through the renderer, i.e. an actual node and not j

[2017-12-04 14:37] skateman commented on #61
@maxstralin can you provide a failing example where you reproduce the issue?

[2017-12-20 13:43] ashishdeole commented on #57
Hi,
I am also facing same issue. Any solution on this ?

[2017-12-20 13:58] ErnieAllen commented on #57
@ashishdeole, Sorry, I never did find a solution. What I ended up doing was using a different treeview control.

[2017-12-20 13:59] skateman commented on #57
@ErnieAllen and @ashishdeole the string concatenation in the demo works strange but if the event did not finish while running the callback, wrapping it around a `setTimeout` solves the issue:
[code]

[2017-12-20 14:15] ErnieAllen commented on #57
@skateman and @ashishdeole I updated the fiddle to call tree.expandNode(node) in a setTimeout. This didn't fix the problem.
The list returned from tree.getExpanded() is still empty. I also tried wrapping the code in the onTreeNodeExpanded event handler in a timeout, but that didn't work either.
Here is the updated fiddle with the setTimeouts. https://jsfiddle.net/acapkxhn/6/

[2017-12-20 14:19] skateman commented on #57
Hm, it works for me

[2017-12-20 14:20] skateman commented on #57
Also you don't need the second argument for the `setTimeout`, it's enough to put the function on the end of the execution queue.

[2017-12-20 14:27] ErnieAllen commented on #57
Sorry I wasn't clear in my description.
When I click on the +, the tree is expanded automatically and the onTreeeNodeExpanded event hander is able to get the expanded list.

However, if I click on the text 'Parent 1', that is when the onTreeNodeSelected event is fired and I'm programmatically expanding the tree. In that case I'm not seeing the correct expanded list.

[2017-12-20 14:29] skateman commented on #57
@ErnieAllen strange, the workaround could be to set the expansion to [silent](https://github.com/patternfly/patternfly-bootstrap-treeview/#expandnodenodes-options) and call the handler manually.

[2017-12-20 14:39] ErnieAllen commented on #57
@skateman I did what I think you suggested and no joy.  https://jsfiddle.net/acapkxhn/7/
An extract of the pertinent part:
tree.expandNode(node, {silent: true})
setTimeout( function () {
  	onTreeNodeExpanded(e, node)
})
The list returned by tree.getExpanded() is still empty after calling tree.expandNode(..)

[2017-12-20 14:49] skateman commented on #57
I will take a look into this after Christmas...

[2018-01-08 03:58] vzlatkin commented on #45
This is still happening.  The necessary code is only inside the toggleChecked function: https://github.com/patternfly/patternfly-bootstrap-treeview/blob/master/src/js/bootstrap-treeview.js#L725

[2018-01-08 03:58] vzlatkin commented on #52
same as issue #45

[2018-01-08 07:01] DDNANA2013 opened #63 "How to add the method of double clicking a node?"
I have a situation of **double clicking** one node ，how can I add this method ?or could anyone give me some signs? thanks.

[2018-01-09 02:48] Sunny8675 commented on #22
@newdebug 可以发一下这个代码吗？

[2018-01-16 11:57] ashishdeole commented on #57
Any updates please ?

[2018-01-25 20:12] vitalyo7 opened #64 "Cannot addNode when inside events (due to deep copy)"
This example does not work, because node being passed in event is deep copy (and is no longer a part of a tree).

[code]

The node that you get inside the event, cannot be used in addNode operation since the result of which fails to render or make actual changes on the tree.

Locally I have made a work around, that allows you to get the real node using nodeId that you can retrieve from the event.

[2018-01-26 14:17] akieling opened #65 "Upgrade jQuery dependency"
Upgrade jQuery dependency to v3.

[2018-01-26 15:10] vitalyo7 commented on #64
Just realized that there may be a better solution, inside addnode function, it may be best to get parentNode by id that is being passed in node parameter. That way no matter if the node is real or deep-copied, it always gets the version of the node that belongs to the tree.

[2018-01-29 11:34] skateman commented on #65
Hmm, I am not against it, but we depend on this project in ManageIQ and this might break stuff. What do you think @himdel || @karelhala?

[2018-01-29 13:37] himdel commented on #65
As long as "make compatible with jquery 3" doesn't mean "break compatibility with previous releases". :)

@akieling What's missing here is any kind of indication why this would *not* be compatible now, and what kind of changes you need done for it to *be* compatible.

(Frankly I'm surprised this is not compatible already, are we using some deprecated function somewhere?)

[2018-01-29 13:40] karelhala commented on #65
Well we are using `>=` for jQuery in [bower.json#L29](https://github.com/jonmiles/bootstrap-treeview/blob/master/bower.json#L29) so while testing it might download jQuery 3 without us knowing it. Because https://docs.npmjs.com/misc/semver, so same question as @himdel's are we using something from old jquery we shouldn't?

[2018-01-29 21:42] akieling commented on #65
The tests are using jQuery v2. Have a look at ./tests/tests.html. It
references ./tests/lib/jquery.js, not the one installed by Bower or npm.
When you update it to v3, most tests break.

On 29 Jan 2018 11:40 am, "Karel Hala" <notifications@github.com> wrote:

[2018-01-30 12:29] himdel commented on #65
Looks like the relevant failure is this one:

[code]

that looks more like qunit isn't starting properly than actual failures.

Looks like the tests need to be fixed to use a current version of qunit and jquery, and not to bundle these things in the repo.

So far, I don't see any evidence of bootstrap-treeview not working in jQuery 3.

[2018-01-30 12:30] himdel commented on #65
Trying the demo, it seems to work, though I *am* getting this exception:

[code]

[2018-01-30 13:24] himdel commented on #65
... and that's probably a timing bug .. jQuery 3 changed their promise-like thing to behave according to Promise specs, meaning that `done` should never happen synchronously.

So presumably the `this._orderedNodes = this._sortNodes()`  assignment is now happening later than that `		return $.grep(this._orderedNodes, $.proxy(function (node) {`.

[2018-01-31 22:26] akieling commented on #65
I'm getting the same error when upgrading one of the hawt.io projects to
jQuery 3. Has anyone tried running the tests with the latest versions of
jQuery and qunit? I can try that next week.

On 30 Jan 2018 11:24 am, "Martin Hradil" <notifications@github.com> wrote:

[2018-02-01 16:54] himdel commented on #65
@akieling I.. tried to try :) But looks like the tests need a complete rewrite to work with current versions of qUnit.

If you can get them working, a PR would be much appreciated :). (Preferrably so that we don't have to bundle qunit and jquery in the repo anymore, but we can take care of that.)

[2018-02-16 17:24] rogertangcn commented on #64
This is the same issue of [#60](https://github.com/patternfly/patternfly-bootstrap-treeview/issues/60)

[2018-04-02 21:10] jonathangijsen opened #68 "Bootstrap v4"
Library is not compatible with bootstrap v4.

[2018-04-03 06:42] skateman commented on #68
Hi,

thanks for letting me know. I am not planning to migrate this in the near future...sorry.

[2018-04-03 06:42] #68 closed

[2018-04-16 09:04] zaihrayeu opened #69 "exception during lazyLoad"
hi,

I would like to load child nodes of a node dynamically using lazyLoad. I am using this function to initialise a tree:

`$('#tree').treeview({
  data:getTree(), highlightSelected: true, levels: 1,
  lazyLoad: function(node, display) {
    let getChildrenUrl = '/hierarchy/children?iri=' + encodeURIComponent(node.iri)
    data = httpGet(getChildrenUrl)
    display(data);
  }});`

data returned t

[2018-04-16 12:33] zaihrayeu commented on #69
issue solved: the data string should have been parsed to JSON

[2018-04-16 12:33] #69 closed

[2018-04-18 05:54] theezz opened #70 "lazyloaded node expand question"
i build a treeview and have set nodes to load by lazyload function.
when i expand the first node,its childnodes are loaded and displayed.
then i collapse the first node and expand the second node. when the second node is expanded,the first node is expanded automaticly at the same time.
this situation lasts till all nodes of the tree have been expanded atleast once.
is it a bug or just my coding er

[2018-04-18 06:45] skateman commented on #70
Well, it's kinda hard to tell without an example...it might be both. Can you post a [fiddle](https://jsfiddle.net/) where I can reproduce the issue?

[2018-04-18 17:09] theezz commented on #70
it still doesnot work fine..
https://jsfiddle.net/theezz/tqadhy4v/15/

[2018-04-19 07:13] skateman commented on #70
@theezz well, the lazyload expand doesn't seem to work for me at all :( can you please take a look at it?

[2018-04-19 07:32] theezz commented on #70
in the fiddle i put above, the actual codes are in the last few lines.
i also find the lazyload function can be executed only once...
maybe its my coding problem.

[2018-04-19 07:49] skateman commented on #70
it is definitely

[2018-04-21 07:44] MG64 opened #71 "href property removed - what's the replacement?"
Just migrated from bootstrap-treeview and found, that href is no longer supported as a node property. Is there any replacement I wasn't able to find?

[2018-04-21 08:11] skateman commented on #71
Yes, you should use the onNodeSelected event.

[2018-04-21 08:11] #71 closed

[2018-05-03 10:50] rapasae commented on #22
Thank you for your code, buttons are shown/hidden correctly but no event is triggered when buttons are clicked (onAddButtonClicked:function(event, node){...})

[2018-05-16 21:38] dgroh commented on #60
Any solution for this?

[2018-05-25 09:46] BI7PRK opened #72 "why it still expanded."
[code]

![default](https://user-images.githubusercontent.com/24989210/40538057-2a434448-6043-11e8-9ae6-6bc795857946.png)

[2018-05-25 10:30] skateman commented on #72
Well you have an extra space after `expanded`.

[2018-05-25 10:30] #72 closed

[2018-06-05 12:30] MaggiWuerze commented on #24
@3xxx's answer but on load the complete tree is expanded. i tried to add state to the json but it had no effect. Even calling `$('#tree').treeview('collapseAll', { silent: false });` did not collapse it, you always have to click on every item to collapse it.

[2018-06-07 14:29] MaggiWuerze opened #73 "use of Fontawesome not possible"
if you have fontawesome included in your page and create nodes with fontawesome classes instead of glyphicons (removed in later Bootstrap versions) it either displays nothing, squares or ignores the classes
 entirely and creates the nodes with standard glyphicon classes instead.

[2018-06-07 14:30] skateman commented on #73
@MaggiWuerze can you please provide a working reproducer on codepen or jsfiddle? Thanks

[2018-06-07 14:50] MaggiWuerze commented on #73
can do, but i just tried to do it via the `$('#tree').treeview()` method instead of node json data and the classes are accepted from there. only the icons for collapse and expand are not switching, it always shows the expand icon.

[2018-06-07 14:59] skateman commented on #73
`fas fa-caret-down` -> `fa-caret-down`

[2018-06-07 14:59] #73 closed

[2018-06-14 01:07] amunter opened #74 "findNode based on id?"
Is there a way to find a node based upon an arbitrary attribute value set in the node like, for instance, id?  I can't seem to do it.  I'd like to programmatically select a node based on id.

I'm trying to use it to track a hierarchy of locations, like "Room A->Gray Cabinet->Shelf 2" etc., but many of them will have similar names, which the search method uses, with different ids.

[2018-06-14 09:43] skateman commented on #74
You need to iterate through `getNodes()`

[2018-06-14 09:44] #74 closed

[2018-06-14 11:00] amunter commented on #74
Thanks for the tip.  Will try that.

[2018-06-18 13:56] Holywa commented on #63
I achieved this with a trick so ugly you would become unsane by reading it... (Lovecraft fans here ;)?)

As I noticed, the system of catching events only uses bubbling and never capture. When you select a node, it first calls "onNodeUnselected" for the previous one, then the "onNodeSelected". HOWEVER.
If you select the same node, only the "onNodeUnselected" is fired. And after all this, the "globa

[2018-07-03 05:50] dset0x opened #77 "Reload the tree without affecting open/closed nodes"
Hello. I wonder if there is a way of reloading a tree (currently I call `$(..).treeview(..)` again) without closing/opening already open/close nodes, thus making the least amount of modifications to the user's current view.

I can imagine writing logic that checks the status of all the nodes and then sets that status again every time rendering is finished, but having a convenient `refresh` method

[2018-07-03 07:49] skateman commented on #77
Hi, as you're providing the data to the tree, you can update the data as you expand/collapse. We're doing it using `sessionStorage`: https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/assets/javascripts/miq_tree.js#L441-L456

[2018-07-03 07:49] #77 closed

[2018-07-10 16:22] kaaxsh commented on #60
$('#tree').treeview(true).addNode(nodes=s_nodes,$('#tree').treeview('getSelected'));

[2018-07-10 18:20] kaaxsh commented on #54
https://getbootstrap.com/docs/4.0/migration/#components

[2018-07-10 18:26] kaaxsh opened #78 "Tree-view support BS 4 ?"

[2018-07-14 12:09] marcodelpercio commented on #78
I'm also interested in this. Bootstrap 4.1.2 is out now.

[2018-08-09 08:11] hAtul89 commented on #24
I switched my library from `jonmiles/bootstrap-treeview` to this one, and added the css as @3xxx said and it works :+1:

[2018-08-20 07:35] renanyoy opened #79 "addNode error"
addNode returns
`TypeError: Cannot read property 'visible' of undefined
bootstrap-treeview.js:606
    at Tree._setVisible (/Volumes/ssd/git/a2ds/server/office/public/libs/treeview/dist/bootstrap-treeview.js:606:40)
    at Tree.<anonymous> (/Volumes/ssd/git/a2ds/server/office/public/libs/treeview/dist/bootstrap-treeview.js:572:12)
    at Object.e (/Volumes/ssd/git/a2ds/server/office/public/assets/l

[2018-08-20 07:35] renanyoy commented on #79
new node is just {text:"label"}

[2018-08-20 07:38] renanyoy commented on #79
jquery: 3.2.1
bootstrap 4.0.0

[2018-08-20 07:43] skateman commented on #79
The library doesn't support bootstrap 4 and for now there's no plan to do so.

https://github.com/patternfly/patternfly-bootstrap-treeview/issues/78

[2018-08-20 07:43] #79 closed

[2018-08-20 07:47] renanyoy commented on #79
can you point me a bootstrap 4.0 treeview library, please ?

[2018-08-20 08:06] skateman commented on #79
Sorry, but I have no information about such library.

[2018-08-20 10:25] renanyoy commented on #79
ok, thanks
maybe you could add an alert on the readme that the library isn't compatible with bootstrap 4.0
because for now it's just  "works with bootstrap >= 3.0.0"

[2018-08-21 12:35] Joylal4896 opened #80 "loadingIcon doesn't appear while lazyLoad"
I am trying to use the lazyLoad method to load sub items of a directory. The issue is, while loading I don't see the loading icon in place of expandIcon.

Here are a few snapshots of the tree-view and the corresponding html

Before Load:

<img width="378" alt="screen shot 2018-08-21 at 5 52 41 pm" src="https://user-images.githubusercontent.com/8450903/44401215-85d1c100-a56b-11e8-8aa8-1d983bcaf471.

[2018-08-21 18:56] Joylal4896 commented on #80
solution:
[code]

[2018-08-21 18:56] #80 closed

[2018-10-15 02:02] mumuxizzz commented on #23
the link is unavaible

[2018-10-15 02:27] mumuxizzz commented on #23
Anyone else who has this trouble can refer [this repository](https://github.com/merciqiao/bootstrap-treeview-demo).

[2018-10-23 07:42] jotab24 opened #88 "don't check parent if all sons are checked"
How can I prevent the father from being checked when all the children are checked? i have this scenario:

Europe
------->France
------->Belgium
------->Italia
If i check France,Belgium,Italia--> Europe will be checked and i'm not interested.

Thanks!

[2018-10-23 08:45] jotab24 commented on #88
ok i added an options PropagateToParent:

`/* =========================================================
 * patternfly-bootstrap-treeview.js v2.1.0
 * =========================================================
 * Copyright 2013 Jonathan Miles
 * Project URL : http://www.jondmiles.com/bootstrap-treeview
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file

[2018-10-23 08:57] skateman commented on #88
Well, the only possible solution is to add some extra checkboxes that won't be checked.

[2018-10-23 09:00] jotab24 commented on #88
with this code works as expected!

[2018-10-24 08:17] #88 closed

[2018-11-13 23:52] alanblins commented on #78
I created a sample with bootstrap 4. It needs to set by options the classes for "plus" and "minus" icons because the glyphicon was removed from bootstrap 4. So, I added the font awesome to fix this problem.
You can see the sample here:
https://plnkr.co/edit/2YBstYOT1YqmZ7dDKspo

[2018-12-21 22:41] rhulha commented on #44
yes:

          var sel = $('#tree').treeview(true).getSelected()[0];
          sel.text = folder_text;
          $('#tree').treeview(true).removeNode([]); // refresh hack

[2018-12-27 08:09] vswen opened #92 "init selected: true"
addNode  node=selected: true
trigger nodeUnselected bug?

[2018-12-27 22:23] alanblins opened #93 "fixed bug when child is collapsed, but grandsons remains visible"
fixed bug when child has state expanded false and levels 5, then the grandsons nodes remains visible. You can see the bug with the code below:
[code]

[2018-12-27 22:31] skateman commented on #93
Hi, could you please provide a reproducer? Preferably something I can click&run like jsfiddle or codepen.

[2018-12-28 13:46] alanblins commented on #93
Yes sure. http://plnkr.co/edit/c7CmBNbsRzEZWQaF7bqw?p=info

[2019-01-15 16:58] edivancastro opened #94 "Error on addnode"
[code]

The Node is added but has a error on select node

[2019-01-25 07:31] xiaoksks commented on #30
thx Problem solved
Tree.prototype.updateNode = function (node, newNode, options) {
        if (node instanceof Array) {
            node = node[0];
        }

        options = $.extend({}, _default.options, options);

        // insert new node
        $.extend(node,newNode);

        // remove old node from DOM
        //this._removeNodeEl(node);

        // initialize new state and render chang

[2019-01-30 09:27] Forkinel opened #95 "refesh of data after manual node index change"
Hi,

Im having real trouble trying trying to update and refesh the tree after I change the index of an id (as part of a procedure to move nodes order up and down ).
the data i get from $('#tree').treeview('getNodes') before and after the a nodes index changes is correct and the indexex have changed, but I cannot figure out how to reload or refresh based on my changes in order to show the updated n

[2019-01-31 09:12] cookiethecake opened #96 "JQuery 3"
Hey guys, according to issue #65 i want to ask if someone allready using the library with JQuery 3 (3.2.1)?

For example i am trying to use the function: $("#tree").treeview('collapseAll', { silent: true });
I tested this function with JQuery 2 (2.2.4) and JQuery 3 (3.2.1). In JQ 2 all is running fine and wonderfull!
In JQ 3 either it doesn´t work or i´ll get an exception if jquery: "TypeError: a

[2019-02-07 11:39] Thassya opened #97 "Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019. Please use window.customElements.define instead"
I get this message on my browser (Opera) and I did not find any document.registerElement on jstree.js.

`jstree.js:7424 [Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019. Please use window.customElements.define instead. See https://www.chromestatus.com/features/4642138092470272 for more details.`

`jstree.js:7424`

[2019-02-08 11:57] skateman commented on #97
Hello @Thassya, thanks for your first issue. Unfortunately, I am not able to find the mentioned `jstree.js` in our codebase, is it possible that you're loading it from somewhere else? I need a little bit of more context about you problem to be able to help you.

[2019-02-08 12:14] Thassya commented on #97
@skateman maybe a print would help
[http://prntscr.com/micg21](http://prntscr.com/micg21)

[2019-02-08 12:33] skateman commented on #97
Well, not much :disappointed: I would like to see what's on the 7424th line in the `jstree.js` file and maybe a few lines before and after. But I'm afraid that the code is not from us, the `registerElement` causing the error is nowhere in our codebase.

[2019-02-08 12:46] Thassya commented on #97
I am sorry @skateman I remove the jstree and that's ok! I will delete this issue

[2019-02-08 12:49] #97 closed

[2019-02-08 15:22] tawright915 opened #98 "disableNode missing CSS attribute"
Seems like if you disable all the children nodes, they show as disabled, but you can still check them.

[2019-03-08 02:11] Lucrea opened #99 "Displaying and highlighting search results when nodes is hasn't populated by lazy load"

[2019-03-26 03:53] ramgopalcheedu opened #100 "nodeChecked Event not trigerred"
When child is checked, nodeChecked event is not triggred

[code]

[2019-03-29 09:16] ffaouzif commented on #29
@DracoPL  have you solve the problem ?

[2019-04-02 23:25] #100 closed

[2019-05-07 13:17] keithabramo opened #102 "removeNode with silent: true still fires treeview rendered event"
When calling removeNode with the silent: true modifier set, the method still triggers the treeview rendered event.

Steps to reproduce:

1) make a call like `.treeview("removeNode", [nodesToRemove, { silent: true }]);`
2) Observe treeview's "rendered" event is called again if nodes were removed.

[2019-05-23 13:33] pszNicx opened #103 "Nodes not initializing correctly"
Hi,

I've been running into an issue with unallocated nodes causing a few of the calls to not work properly. I'm not sure if I'm not doing something right but I worked around the issue by editing the bootstrap-treeview.js file.

My version of bootstrap-treeview.js says v2.1.0 at the top but I think it's actually 2.1.8 since I downloaded the latest. My jQuery is version 3.4.1 and Bootstrap is 3.3.7

[2019-05-23 15:26] pszNicx commented on #103
I figured out the issue. I was trying to process the tree in my JQuery ready block but that's before the treeview initializes. Example:

[code]

To fix, I just needed to move my logic until after everything initializes.

[2019-05-23 15:26] #103 closed

[2019-05-30 18:24] pszNicx opened #104 "ExpandAll with lazyLoad not working"
Hi,

I'm having an issue when I try to expand my entire tree using `expandAll` when I have lazy loaded branches. I'm working around this by explicitly expanding each node but it seems the issue is happening here:

bootstrap-treeview.js line 1585:
[code]
When `lazyLoad` is set to `true` on a node, the node does not show as having any `nodes` property when it gets to the if statement. This skips the

[2019-06-14 18:46] dverenna commented on #94
Not sure if you are still having this error but I just ran into it myself and managed to fix it by initializing the treeview with data set to null, and then adding the data to the empty tree, hopefully that helps.

[2019-06-18 14:47] Taroxx opened #105 "Selectable option don't work"
Hi! I have discovered, that the selectable option don't work.

[code]

However, if this are written to the node section, it is works fine.

[2019-08-12 13:41] ww8899 opened #106 "addNode is not a function error"
When I try to add new nodes to a parent node, this error happends: No such method : addNodeAfter.

Here is the code:
`
onNodeExpanded: function(event, data){
				$('#default-tree').treeview('addNodeAfter', [ tvData, data.nodeId, { silent: true } ]);
			 }
`

[2019-08-12 16:03] #106 closed

[2019-09-20 08:15] SteveMcArthur opened #108 "enableLinks option has disappeared"
The enableLinks option has disappeared from version 2.1.0. So the example (using v1.2.0) with link enabled is now invalid. I was able to add it back to the code (around line 971) using:
[code]

[2019-11-16 10:58] jordib123 opened #109 "AddNode expands all level 1 nodes"
I have a treeview of top level nodes (see image 1), when clicking on a node, I do an AJAX request to obtain all child nodes of the clicked node and append them to the node using the AddNode function (see image 2). This works perfectly fine, however, when I collapse the node (see image 3) and add new children (obtained by AJAX using AddNode) to a different node, it automatically expands all top lev

[2019-11-18 11:48] yangwanfa opened #110 "点击节点icon不能展开和收缩"
点击节点icon不能展开和收缩

[2019-12-02 15:29] Deca commented on #25
Same error here, someone found a solution?

[2019-12-09 10:16] melouardi commented on #44
Not work :/

 Uncaught TypeError: $(...).treeview(...).removeNode is not a function
    at <anonymous>:3:40

[2020-01-02 22:19] bturner1273 opened #111 "Dark Theme (feature request)"
If it isn't possible already I am hoping that it would be possible to add a configuration option to the treeView. A simple boolean 'darkMode' could change to and from light/dark.

I have tried playing with the css and adding classes but it ends up messing up the treeview item highlighting.

[2020-01-09 03:05] sally3614 commented on #110
这个问题解决了吗

[2020-01-11 07:25] sally3614 commented on #110
可以解决的 它的js缺少样式.node-hidden

[2020-01-14 06:08] yangwanfa commented on #110
非常感谢你的解答！------------------ 原始邮件 ------------------
发件人: "sally3614"<notifications@github.com>
发送时间: 2020年1月11日(星期六) 下午3:25
收件人: "patternfly/patternfly-bootstrap-treeview"<patternfly-bootstrap-treeview@noreply.github.com>;
抄送: "yangwanfa"<2279476623@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [patternfly/patternfly-bootstrap-treeview] 点击节点icon不能展开和收缩 (#110)

可以解决的 它的js缺少样式.node-hidden

&m

[2020-01-30 21:58] mwr9uk commented on #102
This has been a problem for me too, since calling removeNode with a null seems to be the only workaround for refreshing the treeview with updated data.

Whilst the function takes an options structure, it doesn't do anything with it. This is not used in the function:
`options = $.extend({}, _default.options, options);

I believe it should be passed to _setInitialStates, because within that function

[2020-02-22 15:22] WebAutomationru commented on #50
I found) try use <button> instead <a>

[2020-03-04 13:18] wysiecki commented on #50
Hi, came across same problem, can u give an example, or few more words, how u solved it ? THX

[2020-03-24 23:42] milosmalic opened #112 "Example of lazyLoad"
Is there an example of lazyLoad tree somewhere to see. I am struggling a bit with format of Json to return from ajax function to display to render.

Thanks!

[2020-03-25 07:46] skateman commented on #112
Here you can see how we're using it: https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/assets/javascripts/miq_tree.js#L556-L571

The format should be the same as the input format of the tree, i.e. an array of objects. You can see it in the README.

[2020-03-26 22:33] #112 closed, assigned to nobody

[2020-06-07 04:34] rudymarca commented on #78
Muchas gracias

[2020-06-11 13:54] dsahu469 commented on #108
Thanks..Sir

[2020-06-12 15:22] dsahu469 opened #113 "There is not any option for selecting only one check box from childs."
As I already write "There is not any option for selecting only one checkbox from childs" and it allows for multiple checkbox selection whether there should be an option for this only
![Screenshot_6](https://user-images.githubusercontent.com/44020983/84518603-9332df00-acee-11ea-9aba-7523fc376936.jpg)
..thanks

[2020-09-22 18:26] atodorov commented on #108
@patternfly - any update on this? From what I can see this support has been removed from the original fork and you have blindly merged the commits but I don't find any explanation as to why.   We'd love to use this feature.

[2020-09-27 07:04] boynton89 opened #114 ".treeview('unselectNode', [ node, { silent: true } ]);无效"
preventUnselect:true 时
.treeview('unselectNode', [ node, { silent: true } ]);
无效

[2020-10-07 22:15] SplendidMinds opened #115 "MultiSelect possible even if multiSelect: false"
Hey Community,

I have a TreeView which is using lazyLoad to navigate through the layers. Even so I have set multiSelect to false, multiSelection is still possible. Can anybody explain to me what am I doing wrong? Thank you.

`    var initSelectableTree = function() {
        return $('#treeview-selectable').treeview({
            levels: 1,
            data: json,
            multiSelect: false,

[2020-11-06 08:52] daimonn commented on #110
你好，我也遇到这个问题，请问要怎么处理

[2021-02-23 14:50] u19900101 commented on #29
同问

[2022-06-14 02:05] wuhen-wang commented on #110
你好，这个是缺少了什么？

[2022-06-14 02:07] wuhen-wang commented on #110
你好，这个是怎么解决可以说下吗？

[2022-07-01 03:30] GikkiAres opened #116 "select node in onRendered event callback failed."
select node in onRendered event callback failed.
<img width="534" alt="image" src="https://user-images.githubusercontent.com/13636974/176817881-ef8b1a45-216e-4dcf-983d-d365ef881d47.png">
Error is not initialized.
But if call after 200ms,suceeded.
It seems the tree is not initialized,event the render event is sended.

Relative code is here:
[code]